body{
    background: linear-gradient(50deg,orange , blue );
}
a{
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif ;

}
#mozilla{ 
    width: 50%;
    height: 50%;
    vertical-align: middle;
    display: table-cell;
    margin: auto;
   /* width: 400px;
    margin-top: -300px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 750px; */
}
#silvia{
    margin-top: 30px;
    vertical-align: middle;
    display: table-cell;
    margin: auto;
    width: 50%; 
    justify-content: space-around; /* alinha as imagens no centro da tela */
}